body, html {
    font-family: "Roboto", sans-serif;
}

button, li{
    cursor: pointer
}

input {
    border-radius: 5px;
    border-width: 1px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#files-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 12px;
}

#level-section {
    min-width: 270px;
    justify-content: space-around;
}

#files-bar {
    display: flex;
    flex-direction: row;
}

.files-option {
    margin-left: 10px;
}

.files-option:hover {
    cursor: pointer;
}

.errorBox {
    color: red;
}

.readonly-editor .ace_gutter {
    font-size: 0
}

.readonly-editor .ace_cursor-layer {
    display: none;
}

.editor {
    margin-left: 5px;
    padding: 5px;
}

.prop-component {
    margin-bottom: 10px;
}

#code-editor-buttons {
    margin-top: 5px;
}

#main-window {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 20px;
}

#header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 520px;
}

#left-pane {
    margin-right: 20px;
}

.instructions {
    width: 320px;
    text-align: justify;
    text-justify: inter-word;
    white-space: pre-wrap;
}

#panes {
    display: flex;
    flex-direction: row;
}

#right-pane {
    margin-top: 50px;
    margin-left: 50px;
}

#visulization-container {
    margin-top: 70px;
}
