body, html {
    font-family: "Roboto", sans-serif;
}

button, li{
    cursor: pointer
}

input {
    border-radius: 5px;
    border-width: 1px;
}

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#files-bar {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 12px;
}

#files-bar {
    display: flex;
    flex-direction: row;
}

.files-option {
    margin-left: 10px;
}

.files-option:hover {
    cursor: pointer;
}

.errorBox {
    color: red;
}

.readonly-editor .ace_gutter {
    font-size: 0
}

.readonly-editor .ace_cursor-layer {
    display: none;
}

.editor {
    margin-left: 5px;
    padding: 5px;
}

#code-editor-buttons {
    margin-top: 5px;
}

#compile-button {
    font-size: 15px;
}

#selected-item-row {
    display: flex;
}

#selected-item {
    margin-left: 10px;
    color: blue;
}

#todo-button {
    margin-left:10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}

#main-window {
    display: flex;
    //margin-top: 50px;
    margin-left: 20px;
}

#todo-items {
    margin-top: 10px;
}

#right-pane {
    margin-top: 50px;
    margin-left: 50px;
}

#todo-app {
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 20px 20px 20px;
    width: 200px;
}

#visulization-container {
    margin-top: 70px;
}
