body, html {
    font-family: "Roboto", sans-serif;
}

button, li{
    cursor: pointer
}

input {
    border-radius: 5px;
    border-width: 1px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.no-margin {
    margin: 0 !important
}

.no-margin-top {
    margin-top: 0 !important
}

#main-window {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 20px;
}

#page-title:hover {
    cursor: pointer;
    color: blue;
}

#panes {
    display: flex;
    flex-direction: row;
}

    #left-pane {
        margin-right: 20px;
    }

    .right-pane {
        margin-top: 20px;
        margin-left: 50px;
    }

// concerning the top right corner
#header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#level-section {
    min-width: 270px;
    justify-content: space-around;
    margin-bottom: 0.5em;
}

.instructions {
    width: 390px;
    text-align: justify;
    text-justify: inter-word;
    white-space: pre-wrap;
    max-height: 620px;
    overflow: scroll;
    padding-right: 15px;
}

.instructions code {
    color: #d73a49;
}

.instructions-challenge {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
}

#toc-header {
    margin: 0
}

.toc {
    width: 264px;
    margin-left: 40px;
}

.editor {
    margin-left: 5px;
    padding: 5px;
}

.readonly-editor .ace_gutter {
    font-size: 0
}

.readonly-editor .ace_cursor-layer {
    display: none;
}

#code-editor-buttons {
    margin-top: 5px;
}

.errorBox {
    color: red;
}

.prop-component {
    margin-bottom: 10px;
}

.levels-list-item {
    text-decoration: none;
    list-style-type: none;
}

.levels-list-item:hover {
    color: blue;
}

#files-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 12px;
}

.files-option {
    margin-left: 10px;
}

.files-option:hover {
    cursor: pointer;
}

#visualization-container {
    margin-top: 50px;
}

#tree-wrapper {
    border: solid black 1px;
    width: 400px;
    height: 20em;
}

.tree-flavor-text {
    font-size:13px;
    white-space: pre-wrap;
    margin-bottom:4px;
}
